FORMAT: 1A
HOST: http://wot.vowstar.com/

# Push WoT API

PUSH WebAPI for IoT

About HTTP status code, please see RFC 2616(RFC 2518/RFC 2817/RFC 2295/RFC 2774/RFC 4918).

# Group API for devices

## Devices [/dev/devices]

### Create Device [POST]

#### Errors

| HTTP Status |     Result Code     | Message |
|--------|:------------:|--------:|
| 400    | 10001         | Sign Invalid      |
| 400    | 10002         | ProductID Invalid      |

+ Request (application/json)

    + Body

            {
                "ProductID": "bb96cafb784d4109a905317afdff8f71",
                "DeviceMAC": "18:FE:34:01:02:03"
                "DevicePassword": "SomeRandomPasswordForDevice",
                "TimeStamp": "1446025125"
                "Sign": "dd1e337d08add8a910c9face36f6152b"
            }   


+ Response 201 (application/json)

    + Body

            {
                "Result": 0,
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97",
            }  
            
### Delete Device [DELETE]

#### Errors

| HTTP Status |     Result Code     | Message |
|--------|:------------:|--------:|
| 400    | 10001         | Sign Invalid      |
| 400    | 10003         | DeviceID Invalid      |


+ Request (application/x-www-form-urlencoded)

    + Body

            {
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97",
                "DevicePassword": "SomeRandomPasswordForDevice",
                "TimeStamp": "1446025125"
                "Sign": "dd1e337d08add8a910c9face36f6152b"
            } 


+ Response 200 (application/text)
    + Body

            {
                "Result": 0,
            }  
