FORMAT: 1A
HOST: https://vo.mjyun.com/

# Push WoT API

PUSH WebAPI for IoT

About HTTP status code, please see RFC 2616(RFC 2518/RFC 2817/RFC 2295/RFC 2774/RFC 4918).

# Group API for devices

## Devices [/dev/devices]

### Create Device [POST]

#### Errors

| HTTP Status |     Result Code     | Message |
|--------|:------------:|--------:|
| 400    | 10001         | Invalid Paramters      |
| 400    | 10002         | ProductID Invalid      |
| 400    | 20001         | Error gen dvid         |
| 400    | 20002         | Error of DB            |

+ Request (application/json)

    + Body

            {
                "ProductID": "bb96cafb784d4109a905317afdff8f71",
                "DeviceMAC": "18:FE:34:01:02:03",
                "DevicePassword": "SomeRandomPasswordForDevice"
            }   


+ Response 200 (application/json)

    + Body

            {
                "Result": 0,
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97"
            }  
            
### Delete Device [DELETE]

#### Errors

| HTTP Status |     Result Code     | Message |
|--------|:------------:|--------:|
| 400    | 10001         | Invalid Paramters     |
| 400    | 10002         | DeviceID Invalid      |
| 400    | 10003         | DevicePassword Invalid |
| 400    | 20002         | Error of DB      |


+ Request (application/json)

    + Body

            {
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97",
                "DevicePassword": "SomeRandomPasswordForDevice"
            } 


+ Response 200 (application/json)
    + Body

            {
                "Result": 0
            }  
+ Response 400 (application/json)
    + Body
            {
                "Result":10002,
                "Message":"DeviceID Invalid"
            }
