FORMAT: 1A
HOST: https://vo.mjyun.com/

# Push WoT API

PUSH WebAPI for IoT

About HTTP status code, please see RFC 2616(RFC 2518/RFC 2817/RFC 2295/RFC 2774/RFC 4918).

# Group API for devices

## Devices [/dev/devices]

### Create Device [POST]

#### Errors

| HTTP Status | Result Code | Message                |
|-------------|:-----------:|-----------------------:|
| 400         | 10001       | Invalid Paramters      |
| 400         | 10002       | Invalid ProductID      |
| 400         | 20001       | Error gen dvid         |
| 400         | 20002       | Error of DB            |

+ Request (application/json)

    + Body

            {
                "ProductID": "bb96cafb784d4109a905317afdff8f71",
                "DeviceMAC": "18:FE:34:01:02:03",
                "DevicePassword": "SomeRandomPasswordForDevice"
            }   


+ Response 200 (application/json)

    + Body

            {
                "Result": 0,
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97"
            }  
            
+ Response 400 (application/json)

    + Body
            {
                "Result":10001,
                "Message":"Invalid Paramters"
            }
            
### Delete Device [DELETE]

#### Errors

| HTTP Status | Result Code | Message                |
|-------------|:-----------:|-----------------------:|
| 400         | 10001       | Invalid Paramters      |
| 400         | 10002       | Invalid DeviceID       |
| 400         | 10003       | Invalid DevicePassword |
| 400         | 20002       | Error of DB            |

+ Request (application/json)

    + Body

            {
                "DeviceID": "e1227e600b90b8a261c760fbaaaa5c97",
                "DevicePassword": "SomeRandomPasswordForDevice"
            } 


+ Response 200 (application/json)

    + Body

            {
                "Result": 0
            }  

+ Response 400 (application/json)

    + Body
            {
                "Result":10002,
                "Message":"Invalid DeviceID"
            }

 
# Group Rules

## Name Rules
Rulses for name productid and dvid. 

| Name | explain  | Length | example | limit |
|-----------|:-------------------:|----:|--------------:|------------:|
|ProductId  | "WotP"+ Digit(10)   | 14  | WotP0123456789 | max digit:2147483647  | 
|Dvid       | "WotD"+ Digit(10)   | 14  | WotD0123456789 | max digit:4294967295  |

When there are more than 4294967295 devices, we can use other Prefix for dvid           
