FORMAT: 1A
HOST: https://vo.mjyun.com/

# Push WoT API

PUSH WebAPI for IoT

About HTTP status code, please see RFC 2616(RFC 2518/RFC 2817/RFC 2295/RFC 2774/RFC 4918).

# Group API for devices

## Devices [/dev/devices]

### Create Device [POST]

#### Errors

| HTTP Status | Result Code | Message                                 |
|-------------|:-----------:|----------------------------------------:|
| 400         | 10001       | Invalid paramters                       |
| 400         | 10002       | Invalid product ID                      |
| 400         | 20001       | Error gen dvid                          |
| 400         | 20002       | Error of DB                             |

+ Request (application/json)

    + Body

            {
                "ProductId": "bb96cafb784d4109a905317afdff8f71",
                "DeviceMac": "18:FE:34:01:02:03",
                "DevicePassword": "SomeRandomPasswordForDevice"
            }   


+ Response 200 (application/json)

    + Body

            {
                "Result": 0,
                "DeviceId": "e1227e600b90b8a261c760fbaaaa5c97"
            }  
            
+ Response 400 (application/json)

    + Body
            {
                "Result":10001,
                "Message":"Invalid Paramters"
            }
            
### Delete Device [DELETE]

#### Errors

| HTTP Status | Result Code | Message                                 |
|-------------|:-----------:|----------------------------------------:|
| 400         | 10001       | Invalid paramters                       |
| 400         | 10002       | Invalid device ID                       |
| 400         | 10003       | Invalid device password                 |
| 400         | 20002       | Error of DB                             |

+ Request (application/json)

    + Body

            {
                "DeviceId": "e1227e600b90b8a261c760fbaaaa5c97",
                "DevicePassword": "SomeRandomPasswordForDevice"
            } 


+ Response 200 (application/json)

    + Body

            {
                "Result": 0
            }  

+ Response 400 (application/json)

    + Body
            {
                "Result":10002,
                "Message":"Invalid DeviceId"
            }

 
# Group Rules

## Naming Rules

### Rules for naming ProductId and DeviceId

| Name      | explain             | Length | example        | limit                 |
|-----------|:-------------------:|-------:|---------------:|----------------------:|
| ProductId | "WotP"+ Digit(10)   | 14     | WotP0123456789 | max digit:2147483647  | 
| DeviceId  | "WotD"+ Digit(10)   | 14     | WotD0123456789 | max digit:4294967295  |

When there are more than 4294967295 devices, we can use other Prefix for DeviceId   

### Rules for naming JSON Data and any other objects

We using Camel-Case for JSON object naming.

| Type        | Naming rule         | example                 |
|-------------|:-------------------:|------------------------:|
| JSON Data   | UpperCamelCase      | ProductId               | 
| Class       | UpperCamelCase      | TestClass               | 
| Variable    | lowerCamelCase      | testVariable            | 
| Method      | lowerCamelCase      | testMethod()            | 
| Function    | lowerCamelCase      | testFunction()          |

Special rules

ID, MAC, UDP, TCP, etc., applied CamelCase, convert to Id, Mac, Udp, Tcp and so on.
        
## Request Rules

Allow: 0,GET 1,HEAD 2,PUT 3,DELETE 4,POST 5,OPTIONS

| Request     | Operation      | Note                    |
|-------------|:--------------:|------------------------:|
| GET         | Read           | Read                    | 
| HEAD        | Read Header    | Read header, probe      | 
| PUT         | Update/Write   | Update                  | 
| DELETE      | Delete         | Delete                  | 
| POST        | Create/Write   | Create or update        |
| OPTIONS     | Read Options   | Read options, probe     |

